{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="wp">
    <div class="bm_c xld">
        {% for news in data.news_list %}
            <dl class="bbda cl" id="{{ news.news.id }}">
                <dt class="xs2"><a class="xi2" href="{% url 'article' news.news.pageId %}">{{ news.news.title }}</a>
                </dt>
                <dd class="xs2 cl">
                    <div class="atc"><a title={{ news.news.title }}><img
                            src={% static 'img/news.png' %} alt={{ news.title }}></a>

                    </div>
                    <div class="articles">{{ news.content }}</div>
                </dd>
                <dd> 分类: <label><a class="xi2">{{ news.news.class_name }}</a></label>&nbsp;&nbsp;
                </dd>
            </dl>
        {% endfor %}
        <div class="pgs c1">
            <div class="pg">
                <ul class="pagination pagination-sm">
                    {{ page_obj.page_str1|safe }}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script%}
<script>
    $(document).ready(function () {
//限制字符个数
        $(".articles").each(function () {
            var maxwidth = 100;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '...')
                ;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        {% for news in data.news_list %}
            $("#{{ news.news.id }}").click(
                function () {
                    var news_id = "{{news.news.id}}";
                    $.get(
                        "/count_click_times/", {'news_id': news_id, "user_name": "{{data.user_name}}"},
                        function (ret) {
                            $('#result').html(ret.result)
                        }
                    )
                }
            );
        {% endfor %}
    });

</script>
{% endblock %}


