{% extends 'base.html'%}
{% block content %}
     <div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
        <ul class="am-slides">
            <li><img src="/static/img/lunbo.jpg" /></li>
            <li><img src="/static/image/lunbo2.jpg" /></li>
            <li><img src="/static/image/lunbo3.jpg" /></li>
        </ul>
    </div>
        <div class="index-search">
    	<div class="index-search-g ">
    		<div class="f-l">
    			<span>
   					热门关键词:
    			<a href="#">害虫</a>
    			<a href="#">枇杷1</a>
    			<a href="#">枇杷2</a>
    			<a href="#">枇杷3</a>
    			<a href="#">枇杷4</a>
    			<a href="#">枇杷5</a>
    				</span>
    			</div>
    			<div class="f-r">
    			<input type="text" placeholder="请输入关键词搜索">
    			<button>搜索
    			</button>
    			</div>
    		</div>
    	</div>
        <div class="index-new">
        <div class="cml-g">


            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                <div class="index-new-left">
                    <div class="cm-title">
                        <em>知识百科</em><a href="#">MORE<i class="font"></i></a>
                    </div>
                    <div class="index-new-about">
                        <h1>
                            枇杷的英文：Loquat
　　枇杷的别称：黄金丸、小金锤、芦橘、芦枝
　　枇杷的成熟季节：5月、6月
　　枇杷的类型：仁果类水果
　　枇杷的酸碱性：弱碱性
　　枇杷的性质：凉性水果
　　枇杷含维生素最多：维生素A、维生素C
　　枇杷含矿物质：钙、钾、铁、镁
　　枇杷特有养分：扁桃苷
　　枇杷含糖量：4%—7%
　　枇杷适宜人群：咳嗽者、胸闷多痰者、坏血病患者
　　枇杷不适宜人群：腹泻者、糖尿病患者
　　枇杷的产地：甘肃、陕西、河南、江苏、安徽、浙江、江西、湖北、湖南、四川、云南、贵州、广西、广东、福建、台湾
                        </h1>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                <div class="index-new-right">
                    <div class="cm-title">
                        <em>专题</em>
                    </div>
                    <div class="index-new-tab">
                        <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">

                            <ul class="am-tabs-nav am-nav am-nav-tabs">
                                <li class=""><a href="javascript: void(0)">水稻</a></li>
                                <li class=""><a href="javascript: void(0)">玉米</a></li>
                                <li class=""><a href="javascript: void(0)">蔬菜</a></li>
                                <li class="am-active"><a href="javascript: void(0)">小麦</a></li>
                            </ul>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="/static/image/shuidao.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                  {% for news in data.news_list6 %}
                                                                <li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
                                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="/static/image/yumi.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                   {% for news in data.news_list7 %}
                                                                <li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
                                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="/static/image/shucai.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                    {% for news in data.news_list8 %}
                                                                <li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
                                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="/static/image/xiaomai.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                               {% for news in data.news_list9 %}
                                                                <li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
                                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="m">
  <div class="box_head"><span class="f_r f_gray">
   </span> <a href="/news/"><strong><font color="#0c7d03">资讯中心</font></strong></a> </div>
  <div class="box_body">
    <div style="width:300px;margin:0 0 0 15px;" class="m_r f_l">
      <div class="ibox_head"> <a href="/news"><strong>科技要闻</strong></a> </div>
            <div class="ibox_body002">
        <ul>
            {% for news in data.news_list1 %}
<li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
            {% endfor %}
</ul>
      </div>
       </div>

    <div style="width:300px;margin:0 0 0 180px;" class="f_l">
      <div class="ibox_head"><a href="/news"><strong>论坛资讯</strong></a> </div>
            <div class="ibox_body002">
        <ul>
            {% for news in data.news_list2 %}
<li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
            {% endfor %}
</ul>
      </div>
       </div>



    <div class="c_b"></div>
          </div>
        </div>
    <!--价格-->
    <div class="layout ">
    <div class="lay_h2 "><span>农业信息</span>
   </div>
<div class="col-sub-2">
<div class="box_head"><a href="http://www.scgpw.com/news/list-9.html"> <strong>健康农业</strong></a></div><div class="box_body">
<div style="width:420px;margin:0 0 0 5px;" class="m_r f_l">
      <div class="ibox_head"> <a href="http://www.scgpw.com/news/list-13.html"><strong>科技与健康</strong></a> </div>
            <div class="ibox_body002">
        <ul>
            {% for news in data.news_list4 %}
<li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
            {% endfor %}</ul>
      </div>
       </div>
    <div style="width:420px;margin:0 0 0 5px;" class="f_l">
      <div class="ibox_head"> <a href="http://www.scgpw.com/news/list-15.html"><strong>成果推荐</strong></a> </div>
            <div class="ibox_body002">
        <ul>
            {% for news in data.news_list5 %}
<li><a href="{% url 'article' news.news.pageId %}" target="_blank" >{{ news.news.title }}</a></li>
            {% endfor %}
</ul>
      </div>
       </div> <div class="c_b"></div>
</div></div>
  <div class="col-main-3">
      <div class="comment-list-hd">
 <h3 class="titles">最新报价</h3>
<div class="comment-num"><a href="/price">更多&gt;</a></div>
  </div>


  <!--从这开始是天气模块的-->


      	<div class = "row">
		<main class = "col-md-8 main-content">
			<article class = "post">
				<h2 class = "pull-center" align="center"> 预测未来8天最高气温变化 </h2>
			  	<li class="list-group-item" align="center">
				  	{% for max_degree in pred_max %}
				  		{{ max_degree }} &nbsp&nbsp
				  	{% endfor %}
				  	单位：摄氏度
			  	</li>
			</article>
			<article class = "post">
				<h2 class = "pull-center" align="center"> 预测未来8天最低气温变化 </h2>
				<li class="list-group-item" align="center">
				  	{% for min_degree in pred_min %}
				  		{{ min_degree }} &nbsp&nbsp
				  	{% endfor %}
				  	单位：摄氏度
			  	</li>
			</article>
		</main>
		<aside class = "col-md-4 sidebar">
			<h2 class = "pull-center" align="center"> 成都市天气状况 </h2>
			<nav class="navbar navbar-default" role="navigation">
				{% for weather in weather_data %}
					<div class="page-header">
						<h4 class = "pull-center" align="center"> {{ weather.content }}</h4>
						<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
					</div>
				{% endfor %}
			</nav>
		</aside>
	</div>

    <!--天气模块结束-->


   </div>
</div>
        </div>
{% endblock %}



