{% extends 'base.html'%}
{% block content %}
     <div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
        <ul class="am-slides">
            <li><img src="/static/img/lunbo.jpg" /></li>
            <li><img src="/static/img/lunbo.jpg" /></li>
            <li><img src="/static/img/lunbo.jpg" /></li>
        </ul>
    </div>
        <div class="index-search">
    	<div class="index-search-g ">
    		<div class="f-l">
    			<span>
   					热门关键词:
    			<a href="#">害虫</a>
    			<a href="#">枇杷1</a>
    			<a href="#">枇杷2</a>
    			<a href="#">枇杷3</a>
    			<a href="#">枇杷4</a>
    			<a href="#">枇杷5</a>
    				</span>
    			</div>
    			<div class="f-r">
    			<input type="text" placeholder="请输入关键词搜索">
    			<button>搜索
    			</button>
    			</div>
    		</div>
    	</div>
        <div class="index-new">
        <div class="cml-g">


            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                <div class="index-new-left">
                    <div class="cm-title">
                        <em>知识百科</em><a href="#">MORE<i class="font"></i></a>
                    </div>
                    <div class="index-new-about">
                        <h1>
                            枇杷的英文：Loquat
　　枇杷的别称：黄金丸、小金锤、芦橘、芦枝
　　枇杷的成熟季节：5月、6月
　　枇杷的类型：仁果类水果
　　枇杷的酸碱性：弱碱性
　　枇杷的性质：凉性水果
　　枇杷含维生素最多：维生素A、维生素C
　　枇杷含矿物质：钙、钾、铁、镁
　　枇杷特有养分：扁桃苷
　　枇杷含糖量：4%—7%
　　枇杷适宜人群：咳嗽者、胸闷多痰者、坏血病患者
　　枇杷不适宜人群：腹泻者、糖尿病患者
　　枇杷的产地：甘肃、陕西、河南、江苏、安徽、浙江、江西、湖北、湖南、四川、云南、贵州、广西、广东、福建、台湾
                        </h1>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                <div class="index-new-right">
                    <div class="cm-title">
                        <em>病虫危害</em><a href="#">MORE<i class="font"></i></a>
                    </div>
                    <div class="index-new-tab">
                        <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">

                            <ul class="am-tabs-nav am-nav am-nav-tabs">
                                <li class=""><a href="javascript: void(0)">树舟形毛虫如何防治</a></li>
                                <li class=""><a href="javascript: void(0)">黄星天牛如何防治</a></li>
                                <li class=""><a href="javascript: void(0)">黄毛虫如何防治</a></li>
                                <li class="am-active"><a href="javascript: void(0)">日灼病如何防治</a></li>
                            </ul>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="images/tab.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="images/tab.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="images/tab.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel">
                                    <div class="index-new-tab-main">
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-5">
                                            <div class="index-new-tab-img">
                                                <a href="#"><img src="images/tab.jpg"></a>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-4 am-u-md-4 am-u-lg-7">
                                            <div class="index-new-tab-list">
                                                <ul>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                    <li><a href="#"><div class="am-u-sm-8 am-u-md-8 am-u-lg-8"><strong class="f-toe">专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下专家预言：有机肥将瓜分化肥半个天下</strong></div><div class="am-u-sm-4 am-u-md-4 am-u-lg-4  "><span>［2017-05-01］</span></div></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="m">
  <div class="box_head"><span class="f_r f_gray">
   </span> <a href="/news/"><strong><font color="#0c7d03">资讯中心</font></strong></a> </div>
  <div class="box_body">
    <div style="width:300px;margin:0 0 0 15px;" class="m_r f_l">
      <div class="ibox_head"> <a href="http://www.scgpw.com/news/list-4.html"><strong>四川资讯</strong></a> </div>
            <div class="ibox_body002">
        <ul>
<li><a href="http://www.scgpw.com/news/201709/01/14437.html" target="_blank" title="2017苍溪红心猕猴桃网上采摘节">2017苍溪红心猕猴桃网上采摘节</a></li>
<li><a href="http://www.scgpw.com/news/201707/27/14432.html" target="_blank" title="葡萄有“身份证” 扫码可看生长过程">葡萄有“身份证” 扫码可看生长过程</a></li>
<li><a href="http://www.scgpw.com/news/201707/27/14430.html" target="_blank" title="种植有机火龙果">种植有机火龙果</a></li>
<li><a href="http://www.scgpw.com/news/201707/13/14425.html" target="_blank" title="“东坡味道”葡萄次第成熟">“东坡味道”葡萄次第成熟</a></li>
<li><a href="http://www.scgpw.com/news/201707/13/14420.html" target="_blank" title="南江县蒲坪村村民梨园喜摘成熟的果实">南江县蒲坪村村民梨园喜摘成熟的果实</a></li>
<li><a href="http://www.scgpw.com/news/201707/13/14419.html" target="_blank" title="苍溪：一颗红心猕猴桃的脱贫密码">苍溪：一颗红心猕猴桃的脱贫密码</a></li>
<li><a href="http://www.scgpw.com/news/201707/07/14418.html" target="_blank" title="南部升钟湖脆桃采摘节明日开幕">南部升钟湖脆桃采摘节明日开幕</a></li>
<li><a href="http://www.scgpw.com/news/201705/31/14414.html" target="_blank" title="冕宁县举办樱桃采摘节打造乡村游">冕宁县举办樱桃采摘节打造乡村游</a></li>
</ul>
      </div>
       </div>
    <div style="width:300px;margin:0 0 0 15px;" class="f_l">
      <div class="ibox_head"><a href="http://www.scgpw.com/news/list-5.html"><strong>国内资讯</strong></a> </div>
            <div class="ibox_body002">
        <ul>
<li><a href="http://www.scgpw.com/news/201708/01/14436.html" target="_blank" title="浙江火龙果熟了">浙江火龙果熟了</a></li>
<li><a href="http://www.scgpw.com/news/201707/13/14421.html" target="_blank" title="特色种植促增收">特色种植促增收</a></li>
<li><a href="http://www.scgpw.com/news/201705/11/14402.html" target="_blank" title="“品牌樱桃”助农增收">“品牌樱桃”助农增收</a></li>
<li><a href="http://www.scgpw.com/news/201705/11/14401.html" target="_blank" title="蓝莓“人工复苏”忙">蓝莓“人工复苏”忙</a></li>
<li><a href="http://www.scgpw.com/news/201705/11/14400.html" target="_blank" title="妃子笑“高冷”上市50元1斤">妃子笑“高冷”上市50元1斤</a></li>
<li><a href="http://www.scgpw.com/news/201606/29/14359.html" target="_blank" title="辽宁鞍山：大红杏上市">辽宁鞍山：大红杏上市</a></li>
<li><a href="http://www.scgpw.com/news/201606/20/14352.html" target="_blank" title="精品马陆葡萄凭啥卖这么贵">精品马陆葡萄凭啥卖这么贵</a></li>
<li><a href="http://www.scgpw.com/news/201606/20/14351.html" target="_blank" title="错时采摘鲜桃赢得市场">错时采摘鲜桃赢得市场</a></li>
</ul>
      </div>
       </div>
      <div style="width:400px;margin:0 0 0 15px;" class="f_r">
      <div class="ibox_head"> <a href="http://www.scgpw.com/news/list-8.html"><strong>四川三农</strong></a> </div>
      <div class="ibox_body002">         <ul>
<li><a href="http://www.scgpw.com/news/201707/27/14431.html" target="_blank" title="流转土地近千亩 打造现代农业新村观光基地">流转土地近千亩 打造现代农业新村观光基地</a></li>
<li><a href="http://www.scgpw.com/news/201707/06/14416.html" target="_blank" title="芒果黑斑病防控 确保芒果生产安全">芒果黑斑病防控 确保芒果生产安全</a></li>
<li><a href="http://www.scgpw.com/news/201705/31/14412.html" target="_blank" title="专家支招甜樱桃果蝇防治技术">专家支招甜樱桃果蝇防治技术</a></li>
<li><a href="http://www.scgpw.com/news/201705/11/14404.html" target="_blank" title="四川绵阳市农业局到江油市调研果桑产业发展情况">四川绵阳市农业局到江油市调研果桑产业发展情况</a></li>
<li><a href="http://www.scgpw.com/news/201612/21/14388.html" target="_blank" title="“十场大仗”锻造出四川苍溪猕猴桃百亿产业">“十场大仗”锻造出四川苍溪猕猴桃百亿产业</a></li>
<li><a href="http://www.scgpw.com/news/201607/22/14367.html" target="_blank" title="贫困村配备农艺师">贫困村配备农艺师</a></li>
<li><a href="http://www.scgpw.com/news/201607/22/14365.html" target="_blank" title="彭山评选“四好”葡萄园">彭山评选“四好”葡萄园</a></li>
<li><a href="http://www.scgpw.com/news/201604/27/14297.html" target="_blank" title="新都：打造舌尖上的柚花节">新都：打造舌尖上的柚花节</a></li>
</ul>
         </div>
    </div>


    <div class="c_b"></div>
          </div>
        </div>
    <!--价格-->
    <div class="layout ">
    <div class="lay_h2 "><span>价格信息</span>
   </div>
<div class="col-sub-2">
<div class="box_head"><a href="http://www.scgpw.com/news/list-9.html"> <strong>市场行情</strong></a></div><div class="box_body">
<div style="width:420px;margin:0 0 0 5px;" class="m_r f_l">
      <div class="ibox_head"> <a href="http://www.scgpw.com/news/list-13.html"><strong>价格速递</strong></a> </div>
            <div class="ibox_body002">
        <ul>
<li><a href="http://www.scgpw.com/news/201604/25/14296.html" target="_blank" title="4月25日四川雨润蒙阳水果交易市场水果批发价格（2016）">4月25日四川雨润蒙阳水果交易市场水果批发价格（2016）</a></li>
<li><a href="http://www.scgpw.com/news/201604/23/14278.html" target="_blank" title="4月23日四川雨润蒙阳水果交易市场水果批发价格（2016）">4月23日四川雨润蒙阳水果交易市场水果批发价格（2016）</a></li>
<li><a href="http://www.scgpw.com/news/201604/11/14214.html" target="_blank" title="4月11日四川雨润蒙阳水果交易市场水果批发价格（2016）">4月11日四川雨润蒙阳水果交易市场水果批发价格（2016）</a></li>
<li><a href="http://www.scgpw.com/news/201604/08/14201.html" target="_blank" title="4月08日四川雨润蒙阳水果交易市场水果批发价格（2016）">4月08日四川雨润蒙阳水果交易市场水果批发价格（2016）</a></li>
<li><a href="http://www.scgpw.com/news/201604/07/14173.html" target="_blank" title="4月07日四川雨润蒙阳水果交易市场水果批发价格（2016）">4月07日四川雨润蒙阳水果交易市场水果批发价格（2016）</a></li>
<li><a href="http://www.scgpw.com/news/201603/22/14070.html" target="_blank" title="3月22日四川雨润蒙阳水果交易市场水果批发价格（2016）">3月22日四川雨润蒙阳水果交易市场水果批发价格（2016）</a></li>
</ul>
      </div>
       </div>
    <div style="width:420px;margin:0 0 0 5px;" class="f_l">
      <div class="ibox_head"> <a href="http://www.scgpw.com/news/list-15.html"><strong>行情分析</strong></a> </div>
            <div class="ibox_body002">
        <ul>
<li><a href="http://www.scgpw.com/news/201705/31/14415.html" target="_blank" title="2017年第20周我省菜、果批发价格行情">2017年第20周我省菜、果批发价格行情</a></li>
<li><a href="http://www.scgpw.com/news/201705/02/14396.html" target="_blank" title="当季水果市场价格普遍上涨">当季水果市场价格普遍上涨</a></li>
<li><a href="http://www.scgpw.com/news/201604/07/14193.html" target="_blank" title="好苹果为啥卖不出好价钱？">好苹果为啥卖不出好价钱？</a></li>
<li><a href="http://www.scgpw.com/news/201604/07/14191.html" target="_blank" title="福建南安枇杷上市最贵20元/斤">福建南安枇杷上市最贵20元/斤</a></li>
<li><a href="http://www.scgpw.com/news/201602/29/13854.html" target="_blank" title="春回大地　果蔬价格渐回落">春回大地　果蔬价格渐回落</a></li>
</ul>
      </div>
       </div> <div class="c_b"></div>
</div></div>
  <div class="col-main-3">
      <div class="comment-list-hd">
 <h3 class="titles">最新报价</h3>
<div class="comment-num"><a href="/price">更多&gt;</a></div>
  </div>
      <div class="info_lb_p">
      <div class="info_price">
      <ul class="info_price_nav" style="padding:0PX;">
      <li class="frist">产品名称</li>
      <li>果径mm</li>
      <li>单果重g</li>
      <li>产地</li>
      <li>批发市场</li>
      <li>单位</li>
      <li>单价</li>
      </ul>
      <a href="http://www.scgpw.com/price/201606/27/445.html" target="_blank">
      <dl>
      <dt class="frist">山东西瓜</dt>
      <dt>0</dt>
      <dt>8</dt>
      <dt>山东省</dt>
      <dt>西瓜基地</dt>
      <dt>元/斤</dt>
      <dt><em>0.6</em></dt>
      </dl>
      </a>
            <a href="http://www.scgpw.com/price/201606/25/444.html" target="_blank">
      <dl>
      <dt class="frist">山东藤木苹果价格</dt>
      <dt>0</dt>
      <dt>200</dt>
      <dt>山东</dt>
      <dt>山东</dt>
      <dt>元/斤</dt>
      <dt><em>0.8</em></dt>
      </dl>
      </a>
            <a href="http://www.scgpw.com/price/201604/25/427.html" target="_blank">
      <dl>
      <dt class="frist">京欣西瓜</dt>
      <dt>0</dt>
      <dt>0</dt>
      <dt>山东临沂市</dt>
      <dt>临沂市果品批发市场</dt>
      <dt>元/斤</dt>
      <dt><em>0.6</em></dt>
      </dl>
      </a>
            <a href="http://www.scgpw.com/price/201604/24/426.html" target="_blank">
      <dl>
      <dt class="frist">山东京欣西瓜</dt>
      <dt>25</dt>
      <dt>3000</dt>
      <dt>山东莒县</dt>
      <dt>莒县西瓜市场</dt>
      <dt>元/斤</dt>
      <dt><em>1.1</em></dt>
      </dl>
      </a>
            <a href="http://www.scgpw.com/price/201604/14/422.html" target="_blank">
      <dl>
      <dt class="frist">樱桃</dt>
      <dt>10</dt>
      <dt>10</dt>
      <dt>攀枝花</dt>
      <dt>濛阳市场</dt>
      <dt>元/斤</dt>
      <dt><em>14</em></dt>
      </dl>
      </a>
</div>
     </div>
   </div>
</div>
        </div>
{% endblock %}



