{% extends 'base.html' %}

{% block content %}




	
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			{% for news in data.news_list %}
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="xi2" href="{% url 'article' news.news.pageId %}">{{ news.news.title }}</a>
						<a class = "pull-right " data-toggle="collapse" data-parent="#accordion" >
							{{ news.news.class_name }}
						</a>
					</h4>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}


